name: Build and publish python package

on:
  workflow_call:

permissions:
  contents: read
  id-token: write
  attestations: write

jobs:
  publish-to-pypi:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      # use fetch --all for setuptools_scm to work
      with:
        fetch-depth: 0
        persist-credentials: false
    - name: Set up Python
      uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
      with:
        python-version: '3.x'

    - name: Install dependencies
      run: python -m pip install --upgrade pip twine

    - name: Build wheel
      run: python -m pip wheel -w dist --no-deps .

    - name: Check distribution
      run: twine check dist/*

    - name: Create attestations
      uses: actions/attest-build-provenance@00014ed6ed5efc5b1ab7f7f34a39eb55d41aa4f8 # v3.1.0
      with:
        subject-path: 'dist/*'

    - name: Publish package (to TestPyPI)
      if: startsWith(github.repository, 'cpp-linter') && !startsWith(github.ref, 'refs/tags/')
      env:
        TWINE_USERNAME: __token__
        TWINE_PASSWORD: ${{ secrets.TEST_PYPI_TOKEN }}
      run: twine upload --repository testpypi dist/*

    - name: Publish package (to PyPI)
      if: startsWith(github.repository, 'cpp-linter') && startsWith(github.ref, 'refs/tags/')
      env:
        TWINE_USERNAME: __token__
        TWINE_PASSWORD: ${{ secrets.PYPI_API_TOKEN }}
      run: twine upload dist/*
