name: "Close stale issues"

on: [workflow_call]

permissions: {}

jobs:
  stale:
    permissions:
      contents: read
      issues: write
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/stale@997185467fa4f803885201cee163a9f38240193d #v10.1.1
        with:
          stale-issue-message: >-
            This issue has been automatically marked as stale because
            it has not had recent activity.
            It will be closed if no further activity occurs.
          # Better to exclude certain issues from being marked as stale
          exempt-issue-labels: "help wanted,security,pinned,bug"
